body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/background.JPG");
    color: white;

}

.hero-container {
    display: inline-flex !important;
    justify-content: center !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.hero-img {
    margin-right: 40px;
}

.yellow-ccm {
    color: #F6B135;
}

.red-ccm {
    color: #E74425;
}

.dark-red-ccm {
    color: #8E1814;
}

.section {
    margin-top: 60px;
    margin-bottom: 60px;
}

.academic {
    font-weight: bold;
}

.university {
    font-weight: normal;
    color: #bdb29d;
}

.title {
    font-size: 1.4rem;
    color: #E74425;
    display: none;
}

.list-group-item {
    padding: 1.2rem 1.5rem;
    color: #F6B135;
    background-color: #38352c;
}

.table {
    color: #F6B135;
    --bs-table-bg: #38352c;
    --bs-table-hover-color: #bdb29d;
    border-color: #bdb29d;
}


element.style {
}
.table>:not(:last-child)>:last-child>* {
    border-bottom-color: currentColor;
}
.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
}

th {
    color: #8c7a59;
    border-color: #8c7a59;
    border-style: solid;
    border-width: 0;
}

tbody, td, tfoot, th, thead, tr {
    border-color: #8c7a59;
}

.table .h3, h3 {
    font-size: 1.4rem;
    color: #ffda85;
}


element.style {
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.card {
    background-color: #504b3d;
    color: #d4bf89;
}

/*<ul class="list-group list-group-horizontal flex-fill justify-content-center">*/
.organizers {
    flex-direction: row;
    justify-content: center!important;
    flex: 1 1 auto!important;
}


.nav-link {
    color: #7d7763;
}

.nav-tabs .nav-link {
    border: 1px solid #8a8063;
}

.nav-tabs {
    border-bottom: 1px solid #8c7a59;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #c3bf89;
    background-color: #38352c;
    border-color: #c3bf89 #c3bf89 #8c7a59;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #e8dbc2 #e8dbc2 #8c7a59;
    isolation: isolate;
}

.nav-link:focus, .nav-link:hover {
    color: #ab7c00;
}

.w-15 {
    width: 15%!important;
}

.footer {
    background-color: #F6B135;
    padding: 40px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {


    /*<div class="flex justify-content-center d-inline-flex p-5">*/
    .hero-container {
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        text-align: center;
    }

    .hero-img {
        justify-content: center !important;
        max-height: 200px;
        margin-bottom: 30px;
    }

    .organizers {
        flex-direction: column;
        justify-content: center!important;
        flex: 1 1 auto!important;
    }


}